* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem;
}

header i {
    color: #287dad;
    font-size: 25px;
    font-weight: 500;
    transition: all 0.42s ease;
    cursor: pointer;
}

header i:hover {
    transform: scale(1.1);
}

.logo {
    height: auto;
    width: 25%;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin: 0 1.6rem;
    padding: 0;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

#pesquisa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    border: 2px solid #287dad;
    border-radius: 12px;
    width: 100%;
    height: 80%;
    margin-right: 2.5rem;
}
#pesquisa-container input {
    background-color: var(--color-bg);
    border: none;
    margin: 0;
    margin-left: 10px;
    width: 95%;
    caret-color: var(--color-fg);
}
#pesquisa-container input:focus {
    outline: none;
}

#pesquisa-container i {
    left: 0;
    margin: 0;
    cursor: pointer;
}

/* Cart */
#cart,
#menu,
#login {
    background-color: #c9c9c996;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.cart-content {
    background-color: var(--color-bg);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cart-content img,
.menu-content img,
.login-content img {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}
.cart-content h1,
.menu-content h1,
.login-content h1 {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-fg);
}
#topCart,
#topmenu,
#toplogin {
    display: flex;
    padding: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 0.2px solid #287cad7a;
}
#topCart h1,
#topmenu h1,
#toplogin h1 {
    text-transform: uppercase;
    font-weight: 300;
}
/* menu */
.menu-content {
    background-color: var(--color-bg);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#itensDomenu {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#itensDomenu select {
    width: 100%;
    height: 2.8rem;
    border: 2px solid #287dad;
    border-radius: 10px;
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 10px;
    margin-top: 1rem;
}

/* login */
.login-content {
    background-color: var(--color-bg);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#itensDologin {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
#itensDologin h3 {
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}
#itensDologin div {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid #287dad;
}
#itensDologin div p {
    margin-left: 13px;
    transition: all 0.3s ease-in-out;
}
#itensDologin input {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    margin: 0;
    font-size: 1rem;
}
#itensDologin input:focus {
    outline: none;
}
.email.focus input {
}
.email.focus p,
.password.focus p {
    background-color: var(--color-bg);
    transform: translateY(-27px);
    font-size: 1rem;
}

#itensDologin button {
    height: 3.5rem;
    width: 100%;
    margin: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #287dad;
    color: var(--color-bg);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
#esqueceuSenha {
    width: 100%;
    text-align: center;
    justify-content: left;
    display: flex;
    margin-top: -1rem;
}
/* extra */
.slideInRight {
    animation-name: slideInRight;
}
.slideOutLeft {
    animation-name: slideOutLeft;
}
.slideInLeft {
    animation-name: slideInLeft;
}
.slideOutRight {
    animation-name: slideOutRight;
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

input::-webkit-input-placeholder {
    color: var(--color-fg);
}

input::-moz-placeholder {
    color: var(--color-fg);
}

input:-ms-input-placeholder {
    color: var(--color-fg);
}

input::-moz-placeholder {
    color: var(--color-fg);
}

input:-moz-placeholder {
    color: var(--color-fg);
}
option {
    color: var(--color-fg);
}

[data-theme="claro"] {
    --color-bg: #f9f6ee;
    --color-fg: #000000;
}

[data-theme="escuro"] {
    --color-bg: #070c1f;
    --color-fg: #fff;
}
