{% load static %}
<section class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />

        <div class="slide first">
            <img src="{% static "assets/img/banner/1.png" %}" />
        </div>
        <div class="slide">
            <img src="{% static "assets/img/banner/2.png" %}" />
        </div>
        <div class="slide"><img src="https://placehold.co/1025x320"
        alt="teste"></div>
        <div class="slide"><img src="http://placekitten.com/g/1025/320"
        alt="test cat"></div>

        <div class="navation-outo">
            <div class="outo btn1"></div>
            <div class="outo btn2"></div>
        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
        </div>
    </div>
</section>
