<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include "partials/_head.html" %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="compra.css" />
        <title>Document</title>
    </head>
    <body>
        {% include "partials/_header.html" %}
        {% include  "partials/ _tela2" %}

        <script>
            const limiteDePalavrasD = 50;
            const descricao = document.getElementById("descricao");
            const palavrasD = descricao.innerText.split(" ");
            if (palavrasD.length > limiteDePalavrasD) {
                let cortadaDescricao =
                    palavrasD.slice(0, limiteDePalavrasD).join(" ") + "...";
                descricao.innerText = cortadaDescricao;
            }
        </script>
    </body>
</html>
