* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    width: 100%;
    height: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem;
}

header i {
    color: var(--color-main);
    font-size: 30px;
    font-weight: 500;
    transition: all 0.42s ease;
    cursor: pointer;
}

header i:hover {
    transform: scale(1.1);
    color: var(--btn-hover);
}

#aDoLogo {
    width: 25%;
    margin: 0 1.6rem;
    padding: 0;
    height: auto;
    align-items: center;
}

.logo {
    width: 100%;
    cursor: pointer;
    display: flex;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

#pesquisa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    border: 2px solid var(--color-main);
    border-radius: 12px;
    width: 100%;
    height: 80%;
    margin-right: 2.5rem;
}
#pesquisa-container input {
    background-color: var(--color-bg);
    border: none;
    margin: 0;
    margin-left: 10px;
    width: 95%;
}
#pesquisa-container input:focus {
    outline: none;
}

#pesquisa-container i {
    left: 0;
    margin: 0;
    cursor: pointer;
}

/* Cart */
#cart,
#menu,
#login {
    background-color: #c9c9c996;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.cart-content {
    background-color: var(--color-card);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cart-content img,
.menu-content img,
.login-content img {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}
.cart-content h1,
.menu-content h1,
.login-content h1 {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-fg);
}
#topCart,
#topmenu,
#toplogin {
    display: flex;
    padding: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 0.2px solid #287cad7a;
}
#topCart h1,
#topmenu h1,
#toplogin h1 {
    text-transform: uppercase;
    font-weight: 300;
}
#itensDoCart {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.productInCart {
    height: 5rem;
    border-bottom: 1px solid var(--color-main);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.productInCart img {
    height: 90%;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.productInCart p {
    font-weight: 300;
    margin-left: 5px;
    align-self: baseline;
}
#editCartItem {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}
#trash {
    font-size: 1.2rem;
    align-self: center;
    cursor: pointer;
}

.quantidadeC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-card);
    color: var(--color-fg);
    border: 2px solid var(--color-main);
    padding: 0;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.quantidadeC h6,
.quantidadeC i {
    width: 100%;
    height: 60%;
    margin: 0.2rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
#infoQuantidadeC {
    font-size: 15px;
    font-weight: 400;
}
#menosC,
#maisC {
    cursor: pointer;
    font-weight: 900;
}
#bottomCart {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#valorTotal {
    display: flex;
    flex-direction: column;
}
#bottomCart button {
    background-color: var(--color-main);
    width: 40%;
    border-radius: 1rem;
    color: var(--color-card);
    border: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
}
#bottomCart button:hover {
    background-color: var(--btn-hover);
}

/* menu */
.menu-content {
    background-color: var(--color-bg);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#itensDomenu {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#itensDomenu select {
    width: 100%;
    height: 2.8rem;
    border: 2px solid var(--color-main);
    border-radius: 10px;
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 10px;
    margin-top: 1rem;
}

/* login */
.login-content {
    background-color: var(--color-bg);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    padding: 1.4rem;
    z-index: 4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#itensDologin {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
#itensDologin h3 {
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}
#itensDologin div {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-main);
}
#itensDologin div p {
    margin-left: 13px;
    transition: all 0.3s ease-in-out;
}
#itensDologin input {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    margin: 0;
    font-size: 1rem;
}
#itensDologin input:focus {
    outline: none;
    margin-left: -30px;
}
.email.focus p,
.password.focus p {
    background-color: var(--color-bg);
    transform: translateY(-27px);
    font-size: 1rem;
}
.password i {
    font-size: 1.4rem;
    margin-right: 8px;
    cursor: pointer;
    align-self: center;
    align-items: center;
    display: flex;
    color: var(--color-main);
}
.password i:hover {
    color: var(--btn-hover);
}
#itensDologin button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--color-main);
    color: var(--color-bg);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
#itensDologin button:hover {
    background-color: var(--btn-hover);
}

.aDosBotoesDoLogin {
    height: 3.5rem;
    width: 100%;
    margin: 2rem;
}

#esqueceuSenha {
    width: 100%;
    text-align: center;
    justify-content: left;
    display: flex;
    margin-top: -1rem;
}
#esqueceuSenha a {
    color: var(--color-main);
    transition: all 0.4s ease-out;
}

#quantidade-no-carrinho {
    background-color: #f40000;
    color: var(--branco);
    border-radius: 2rem;
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: -10px;
    margin-top: -4px;
    justify-content: center;
    display: flex;
}
#cartIcon {
    display: flex;
}
