nav {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 0;
    height: 3rem;
    background-color: var(--color-main);
    color: var(--color-fg);
}
