{% extends "base.html" %}
{% load omfilters %}
{% block contend-list %}


        <section class="produtos">
        {% for product in products %}
            <div class="card">

                {% if product.image %}
                    <a href="{{ product.slug }}">
                    <img src="{{ product.image.url }}"
                    alt="{{ product.name }}" />
                    </a>
                {% endif %}

                <h1 id="titulo">{{ product.name }}</h1>
                <p id="descricao">
                    {{ product.description_short }}
                </p>

                <div id="preco">
                    {% if product.price_marketing_promotional %}
                        <h3>{{product.price_marketing_promotional|reform_price}} </h3>
                        <h4>12x de <span>R${{ product.parce }}</span></h4>
                    {% else %}
                        <h3>R$ {{product.price_marketing}} </h3>
                        <h4>12x de <span>R${{ product.parce }}</span></h4>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>

{% endblock contend-list %}
