{% extends "base.html" %}
{% load omfilters %}


{% block banner-image %}
<!-- ####################################################### -->
{% include "partials/_banner.html" %}
{% if banners %}
<section class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />


        <div class="slide first">
            {% for banner in banners %}
                {% for imagem in banner.imagens_banner.all %}
                    <img src="{{ imagem.imagem_banner.url }}" alt="Image banner">
                {% endfor %}
            {% endfor %}
        </div>

        <div class="navation-outo">
            <div class="outo btn1"></div>
            <div class="outo btn2"></div>
        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
        </div>
    </div>
</section>

{% endif %}
{% endblock banner-image %}
<!-- ####################################################### -->
{% block contend-list %}

<section class="produtos">
    {% for product in products %}
    <a href="{{ product.slug }}">
        <div class="card">
            {% if product.image %}
            <div class="cardImg">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </div>
            {% endif %}
            <div id="informacoesCard">
                <h1 class="titulo">{{ product.name | truncatechars_html:32}}</h1>
                <p class="descricao">
                    {{ product.description_short | truncatechars_html:48}}
                </p>
            </div>
            <!-- ####################################################### -->
            <div class="preco">
                {% if product.price_marketing_promotional %}
                    <h3>{{product.price_marketing_promotional|reform_price}}</h3>
                    <h4>12x de <span>R${{ product.parce }}</span></h4>
                {% else %}
                    <h3>R$ {{product.price_marketing}}</h3>
                    <h4>12x de <span>R${{ product.parce }}</span></h4>
                {% endif %}
            </div>
        </div>
    </a>


    {% endfor %}
</section>

{% endblock contend-list %}
