{% extends "base.html" %}
{% load static %}
{% block product-detail %}

{% if request.path == "/detail" %}

{% block url-detail %}
<!-- <link rel="stylesheet" href=" {% static "assets/css/product_detail.css" %}" /> -->
    <link rel="stylesheet" href=" {% static "assets/css/product_detail_buy.css"%}" />
{% endblock url-detail %}

{% endif %}

<section class="areaDeCompra">
    <div class="imagens">
        <div class="imgGrande">
            <img
                src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_1_small.jpg"
                alt="imag1"
                class="mainImg"
            />
        </div>

        <div class="menores">
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_2_large.jpg"
                    alt="imag2"
                />
            </div>
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_3_large.jpg"
                    alt="imag3"
                />
            </div>
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_4_large.jpg"
                    alt="imag4"
                />
            </div>
            <div class="imgMenor">
              <img
                src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_1_small.jpg"
                alt="imag5"
              />
          </div>
        </div>
    </div>
    <main class="detalhes">
        <h1 class="titulo">{{ product.name}}New Nintendo 3ds Xl Edição Limitada</h1>
        <p id="descricao">
            {{ product.description_short | truncatechars_html:55}}
            Com seu console New 3DS você terá entretenimento garantido
            todos os dias. Sua tecnologia foi criada para colocar novos
            desafios para jogadores novatos e especialistas. Adaptado às
            suas necessidades Por ter um processador de 4 núcleos e um
            gráfico, fornecem uma experiência dinâmica, respostas ágeis
            e transições suaves de imagens de alta definição. Você
            poderá reproduzir música, assistir seus filmes e séries
            favoritos através dos aplicativos para download. Aviso legal
            A duração da bateria depende do uso que se dê ao produto.
        </p>
        <p style="margin-top: 10px" id="abrirVerMais">ver mais</p>
        <div class="variacoes">
          <img src="https://m.media-amazon.com/images/I/61MaQXBmoSL.__AC_SX300_SY300_QL70_ML2_.jpg" alt="variacao 1" class="imgV" id="imgV1">
          <img src="https://http2.mlstatic.com/D_NQ_NP_872633-MLA32731490263_112019-O.webp" alt="variacao 2" class="imgV" id="imgV2">
          <img src="https://images-americanas.b2w.io/produtos/7052864142/imagens/new-nintendo-3ds-xl-super-famicom-edition/7052864177_1_large.jpg" alt="variacao 3" class="imgV" id="imgV3">
        </div>
        <div class="valor">
            <h2 class="precop">R$ {{ product.parce }} 3.199,00</h2>
            <div class="quantidade">
                <i id="menos" class="fi fi-br-angle-small-left"></i>
                <h6 id="infoQuantidade">1</h6>
                <i id="mais" class="fi fi-br-angle-small-right"></i>
            </div>
        </div>
        <div class="botoes">
            <button class="add">adicionar ao carrinho</button>
            <button class="fav"><i class="fi fi-ss-heart"></i></button>
        </div>
    </main>
</section>
<section class="SelectVariation">
  <img id="closeVar" src="/static/assets/img/cross.png" alt="x">
  <h1>selecione uma variacao</h1>
  <div class="variacoes">
    <img src="https://m.media-amazon.com/images/I/61MaQXBmoSL.__AC_SX300_SY300_QL70_ML2_.jpg" alt="variacao 1" class="imgV" id="imgV1">
    <img src="https://http2.mlstatic.com/D_NQ_NP_872633-MLA32731490263_112019-O.webp" alt="variacao 2" class="imgV" id="imgV2">
    <img src="https://images-americanas.b2w.io/produtos/7052864142/imagens/new-nintendo-3ds-xl-super-famicom-edition/7052864177_1_large.jpg" alt="variacao 3" class="imgV" id="imgV3">
  </div>
  <div id="btns2">
    <button id="adicionar">Adicionar</button>
    <button id="cancelar">Cancelar</button>
  </div>

</section>
<section class="verMais" style="overflow-y: auto; height: 100%;">
    <img id="x" src="/static/assets/img/cross.png" alt="x">
    <h1 class="titulo">{{ product.name}}New Nintendo 3ds Xl Edição Limitada</h1>
    <p id="descricao">
        {{ product.description_short }}
        Com seu console New 3DS você terá entretenimento garantido
        todos os dias. Sua tecnologia foi criada para colocar novos
        desafios para jogadores novatos e especialistas. Adaptado às
        suas necessidades Por ter um processador de 4 núcleos e um
        gráfico, fornecem uma experiência dinâmica, respostas ágeis
        e transições suaves de imagens de alta definição. Você
        poderá reproduzir música, assistir seus filmes e séries
        favoritos através dos aplicativos para download. Aviso legal
        A duração da bateria depende do uso que se dê ao produto.
    </p>
    <table>
        <thead>
          <tr>
            <th>Informaacoes</th>
            <th>Descricao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marca</td>
            <td>Nintendo</td>
          </tr>
          <tr>
            <td>Data de lancamento</td>
            <td>November 21, 2004 (USA)</td>
          </tr>
          <tr>
            <td>Tela</td>
            <td>Dual screens, touch screen, 3-inch LCD (top), 2.9-inch LCD (menor)</td>
          </tr>
          <tr>
            <td>Processador</td>
            <td>ARM9 e ARM7 coprocessors</td>
          </tr>
          <tr>
            <td>Memoria</td>
            <td>4 MB of RAM</td>
          </tr>
          <tr>
            <td>Armazenamento</td>
            <td>Game Card (up to 2 GB)</td>
          </tr>
          <tr>
            <td>Conectividade</td>
            <td>Wi-Fi (802.11b/g), DS Download Play, PictoChat</td>
          </tr>
          <tr>
            <td>Vida da Bateria</td>
            <td>Ate 10h de uso (dependendo do brilho da tela)</td>
          </tr>
        </tbody>
    </table>
</section>

{% endblock product-detail %}
<script src="/static/assets/js/productDetailBuy.js"></script>
