{% extends "base.html" %}

{% block product-detail %}

<section class="areaDeCompra">
    <div class="imagens">
        <div class="imgGrande">
            <img
                src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_1_small.jpg"
                alt="imag1"
            />
        </div>

        <div class="menores">
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_2_large.jpg"
                    alt="imag2"
                />
            </div>
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_3_large.jpg"
                    alt="imag3"
                />
            </div>
            <div class="imgMenor">
                <img
                    src="https://images-americanas.b2w.io/produtos/7052860820/imagens/new-nintendo-3ds-xl-edicao-limitada/7052860854_4_large.jpg"
                    alt="imag4"
                />
            </div>
        </div>
    </div>
    <main class="detalhes">
        <h1 class="titulo">New Nintendo 3ds Xl Edição Limitada</h1>
        <p id="descricao">
            Com seu console New 3DS você terá entretenimento garantido
            todos os dias. Sua tecnologia foi criada para colocar novos
            desafios para jogadores novatos e especialistas. Adaptado às
            suas necessidades Por ter um processador de 4 núcleos e um
            gráfico, fornecem uma experiência dinâmica, respostas ágeis
            e transições suaves de imagens de alta definição. Você
            poderá reproduzir música, assistir seus filmes e séries
            favoritos através dos aplicativos para download. Aviso legal
            A duração da bateria depende do uso que se dê ao produto.
        </p>
        <a href="#" style="margin-top: 10px">ver mais</a>
        <div class="valor">
            <h2>R$ 3.199,00</h2>
            <div class="quantidade">
                <h6><</h6>
                <span>1</span>
                <h6>></h6>
            </div>
        </div>
        <div class="botoes">
            <button class="add">adicionar ao carrinho</button>
            <button class="fav"><3</button>
        </div>
    </main>
</section>
{% endblock product-detail %}