<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    {% include "partials/_head.html" %}

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include "partials/_header.html" %}
    

    {% block banner-image %}{% endblock banner-image %}

    {% block product-detail %}{% endblock product-detail %}

    <section class="slidebars">
        <div id="cart" style="display: none">
            <div class="cart-content">
                <div id="topCart">
                    <img src="{% static "assets/img/cross.png" %}" alt="x" id="closeCart" />
                    <h1>carrinho</h1>
                </div>
                <div id="itensDoCart"></div>
            </div>
        </div>

        <div id="menu" style="display: none">
            <div class="menu-content">
                <div id="topmenu">
                    <img src="{% static "assets/img/cross.png" %}" alt="x" id="closemenu" />
                    <h1>opções</h1>
                </div>
                <div id="itensDomenu">
                    <select id="selectIdioma">
                        <option value="0">Idioma</option>
                        <option value="pt">Português</option>
                        <option value="en">English</option>
                        <option value="es">Español</option>
                    </select>
                    <select id="cores">
                        <option value="claro">Modo Claro</option>
                        <option value="escuro">Modo Escuro</option>
                    </select>
                </div>
            </div>
        </div>


        {% block content-login-form %}{% endblock content-login-form %}



        <div id="login" style="display: none">
            <div class="login-content">
                <div id="toplogin">
                    <img src="{% static "assets/img/cross.png" %}" alt="x" id="closelogin" />
                    <h1>Bem vindo</h1>
                </div>
                <div id="itensDologin">
                    <h3>Iniciar sessão</h3>
                    <div class="email">
                        <p>Email</p>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="password">
                        <p>Senha</p>
                        <input type="password" name="password" id="password" />
                        <img src="https://cdn-icons-png.flaticon.com/128/158/158746.png" alt="olho aberto"
                            id="eyeOn" onclick="showPassword()" />
                        <img src="https://cdn-icons-png.flaticon.com/128/2767/2767146.png" alt="olho fechado"
                            id="eyeOf" onclick="hidePassword()" style="display: none" />
                    </div>
                    <button>Entrar</button>
                    <p id="esqueceuSenha">
                        Esqueceu sua senha? <a href="#"> Clique aqui</a>
                    </p>
                    <br /><br />
                    <h3 style="margin-top: 3rem">Ainda não é cliente?</h3>
                    <button id="irCadastro" style="margin-top: 1rem">
                        criar cadastro
                    </button>
                </div>
            </div>
        </div>
    </section>


    {% block contend-list %}{% endblock contend-list %}
    {% include "partials/_footer.html" %}

</body>

</html>
